<!-- the full page build in jinja2 template in database app -->
{% extends "cmplxsys/html5base.html" %}

{% block headercss %}
<style>
  body { margin: 0; }
  .paper-small-embed {
    /* border: solid 1px; */
    background-color: #edebe8;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-radius: 5px;
    overflow: auto;
    width: 550;
    height: 130;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    /* margin-bottom: 5px; */
}

.paper-small-embed-inner {
    padding: 10px;
    overflow: auto;
}

.paper-small-embed p {
    margin-top: 6px;
  margin-bottom: 3px;
  font-size: 15px;
    /* margin: 0; */
}

.paper-small-embed h2 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.paper-small-embed h3 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.paper-small-embed h5 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.paper-small-embed .img {
    float: left;
    display: inline-block;
    margin-right: 10px;
    /* width: 10%; */
}

.paper-small-embed img {
    height: 100px;
}

.paper-small-embed-extra.hidden {
    display: none;
}

.paper-small-embed .title {
    /* float: left; */
    /* margin-left: 10px; */
    /* display: inline-block; */
    /* overflow: auto; */
    /* /\* width: 90%; *\/ */
    font-size: 15px;
}

.paper-small-embed.hidden {
    display: none;
}
</style>
{% endblock %}

{% block content %}
{% for press in press_list %}
<div class="paper-small-embed">
  <div class="paper-small-embed-inner">		
    <div class="img"><img src="http://cmplxsys.w3.uvm.edu/static/media/{{ press.image }}"/></div>
    <div class="title"><a href="{{ press.url }}" target="_blank"><strong>{{ press.title }}</strong></a></div>
    <p class="">{{ press.monthdate }}, {{ press.organization }}</p>
  </div>
</div>
<br>
{% endfor %}
{% endblock %}


{% block bottomjs %}
<!-- <script src="/static/wordpress/js/jquery-1.9.1.js"> -->
<!-- <script src="/static/wordpress/js/bootstrap.js"> -->
{% endblock %}
