<!-- the full page build in jinja2 template in database app -->
{% extends "cmplxsys/html5base.html" %}

{% block headercss %}
<!-- <link rel="stylesheet" href="/static/wordpress/css/paper.css"> -->
<!-- <link rel="stylesheet" href="/static/wordpress/css/bootstrap.css"> -->
<!-- <link rel="stylesheet" href="/static/wordpress/css/paperpagefullinside.css"> -->
{% endblock %}

{% block content %}
@article{ {{- paper.bibref -}},
  title={ {{- paper.title -}} },
  author={Kloumann, Isabel M and Danforth, Christopher M and Harris, Kameron Decker and Bliss, Catherine A and Dodds, Peter Sheridan},
  journal={PloS one},
  volume={7},
  number={1},
  pages={e29484},
  year={2012},
  publisher={Public Library of Science}
}
{% endblock %}


{% block bottomjs %}
<!-- <script src="/static/wordpress/js/jquery-1.9.1.js"> -->
<!-- <script src="/static/wordpress/js/bootstrap.js"> -->
{% endblock %}
