<div id="person" class="">
<img src="{{ person.image.url }}" class="personimage"/>
<h1>{{ person.fullname }}</h1>
<h2>{{ person.institution }}</h2>
<h2>{{ person.affiliation0 }}, {{person.role0}}</h2>
{% if paper_list|length > 0 %}
  <h3>Most recent papers: </h3>
  <div class="row">
{% endif %}
  {% for paper in paper_list %}
    {% if forloop.counter0 < 6 %}
    <div class="col-xs-4">
      <div class="padded-inner paper">
        <p>{{ paper.title }}</p>
	<img src="{{ paper.image.url }}" class="paperimage" style="width: 150px; display: inline-block;"/>
	<!-- <a href="http://www.uvm.edu/~cmplxsys/paper/?id={{ paper.id }}">Full details</a> -->
	<a href="/db/paper/full/{{ paper.id }}">Full details</a>
      </div> <!-- paper -->
    </div> <!-- col -->
    {% else %}
    <div class="col-xs-4 hidden">
      <div class="padded-inner paper">
        <p>{{ paper.title }}</p>
        <img src="{{ paper.image.url }}" class="paperimage" style="width: 150px; display: inline-block;"/>
      </div> <!-- paper -->
    </div> <!-- col -->
    {% endif %}
  {% endfor %}
{% if paper_list|length > 0 %}
</div> <!-- row -->
<a id="showallpapers">(show all)</a>
{% endif %}

{% if selected_press_list|length > 0 %}
<h3>Most recent press: </h3>
<div class="row">
{% for press in selected_press_list %}
  <div class="col-xs-4">
    <div class="padded-inner paper">
      <p>{{ press.title }}</p>
        <img src="{{ press.image.url }}" class="pressimage" style="width: 150px; display: inline-block;"/>      
    </div>
  </div> <!-- col -->
{% endfor %}
</div> <!-- row -->
<a id="showallpress">(show all)</a>
{% endif %}

<!-- {% if project_list|length > 0 %} -->
<!-- <h3>Active projects: </h3> -->
<!-- <div class="row"> -->
<!-- {% for project in project_list %} -->
<!--   <div class="col-xs-4"> -->
<!--     <div class="padded-inner paper"> -->
<!--       <p>{{ project.title }}</p> -->
<!--     </div> -->
<!--   </div> <\!-- col -\-> -->
<!-- {% endfor %} -->
<!-- </div> <\!-- row -\-> -->
<!-- <a id="showallprojects">(show all)</a> -->
<!-- {% endif %} -->

<!-- this isn't really used in the database yet -->
<!-- {% if teaching_list|length > 0 %} -->
<!-- <h3>Courses taught:</h3> -->
<!-- <ul> -->
<!-- {% for course in teaching_list %} -->
<!-- <li>{{ course.title }}</li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
<!-- {% endif %} -->

<!-- uncomment this section for students... -->
<!-- {% if class_list|length > 0 %} -->
<!-- <h3>Courses taken: </h3> -->
<!-- <ul> -->
<!-- {% for class in class_list %} -->
<!-- <li>{{ class.title }}</li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
<!-- {% endif %} -->

<!-- {% if funding_list|length > 0 %} -->
<!-- <h3>Current funding: </h3> -->
<!-- <ul> -->
<!-- {% for grant in funding_list %} -->
<!-- <li>{{ grant.title }}</li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
<!-- {% endif %} -->
