{% if p %}
{% include 'combined-styles.html' %}
<br>
<div class="person-big">
  <div class="person-big-inner">
    <div class="img"><img src="{{ p.image.url }}"/></div>
    <!-- <div class="title"> -->
      <h1 class="title">{{ p.fullname }}</h1>
      <h3 class="title">{{ p.institution }}</h3>
      <h3 class="title">
{% if p.affiliation0|length > 0 %}
{{ p.affiliation0 }}, 
{% endif %}
{{ p.role0}}</h3>
    <!-- </div> -->
    <p>{{ p.blurb | safe }}</p>
  </div>
  <!-- <hr> -->
<!-- include all of the social stuff -->
  <div class="social-links">
    {% if p.webpage|length > 0 %}
    <a href="{{ p.webpage }}"><i class="fa fa-external-link fa-fw fa-lg"></i></a>
    {% endif %}
    {% if p.twitter|length > 0 %}
    <a href="http://twitter.com/{{ p.twitter }}"><i class="fa fa-twitter fa-fw fa-lg"></i></a>
    {% endif %}
    {% if p.linkedin|length > 0 %}
    <a href="http://www.linkedin.com/{{ p.linkedin }}"><i class="fa fa-linkedin fa-fw fa-lg"></i></a>
    {% endif %}
    {% if p.github|length > 0 %}
    <a href="http://github.com/{{ p.github }}"><i class="fa fa-github fa-fw fa-lg"></i></a>
    {% endif %}
    {% if p.youtube|length > 0 %}
    <a href="https://www.youtube.com/channel/{{ p.youtube }}"><i class="fa fa-youtube-play fa-fw fa-lg"></i></a>
    {% endif %}
    {% if researchgate|length > 0 %}
    <a href="https://www.researchgate.net/profile/{{ researchgate }}">RG</a>
    {% endif %}
    {% if p.orcid|length > 0 %}
    <a href="http://orcid.org/{{ p.orcid }}">ORCID</a>
    {% endif %}
{% comment %}
    {% if p.strava|length > 0 %}
    <img height="18" src="fonts/custom/icon-strava.svg" class="fa-fw fa-lg">
    {% endif %}
{% endcomment %}        
 </div>
</div>
<br>
{% if p.paper_set.all|length > 0 %}
<h4>Most recent papers:</h4>
<div class="paperlist">
{% for paper in p.paper_set.all %}
  {% if forloop.counter0 < 10 %}
  <div class="paper-small">
  {% else %}            
  <div class="paper-small hidden extra">
  {% endif %}
    <div class="paper-small-inner">
      <div class="img">
        <a href="/research/publications/{{ paper.bibref }}"><img src="{{ paper.image.url }}"/></a>
        <!-- <a href="{{ paper.titlelink }}"><img src="{{ paper.image.url }}"/></a> -->
      </div> <!-- .img -->
      <div class="title">
        {% for author in paper.authors.all %}<a href="/people/core-team/{{ author.uname }}" class="subtlelink">{{ author.fullname }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.
        <!-- {{ paper.author_list }}.<br /> -->
        <strong>{{ paper.title }}</strong>.
        {% if paper.journal %}{{ paper.journal }}, {% if paper.journal|lower != "preprint"%}{{ paper.pages }}, {{ paper.volume }}, {% endif %}{% endif %}{{ paper.year }}.<br />
        <!-- [pdf] [journal page] [arXiv] [Online appendices] -->
        [<a href="{{ paper.preprintlink }}" target="_blank">pdf</a>]
        {% if paper.journalpagelink %}[<a href="{{ paper.journalpagelink }}" target="_blank">journal page</a>]{% endif %}
        {% if paper.arxivlink %}[<a href="{{ paper.arxivlink }}" target="_blank">arXiv</a>]{% endif %}
        {% if paper.onlineappendices %}[<a href="{{ paper.onlineappendices }}" target="_blank">online appendices</a>]{% endif %}
    <i class="fa fa-expand expandpaperbutton"></i>
      </div> <!-- .title -->
      <div class="paper-small-extra hidden">
        <br /><strong>Abstract:</strong><br />{{ paper.HTMLabstract|safe }}<br />
        <br /><div><strong>Cite:</strong> [<a href="/bibgen/{{ paper.id }}/" target="_blank">bibtex</a>]
          <span style="float: right">
            <a id="dbeditlink" style="color: lightgrey; font-size: 8pt;" href="/admin/cmplxsys/paper/{{ paper.id }}/" target="_blank">[edit database entry]</a>
        </span>
        </div>
      </div> <!-- .paper-small-extra -->
    </div> <!-- .paper-small-inner -->
  </div> <!-- .paper-small -->
  {% endfor %}
  {% if p.paper_set.all|length > 10 %}  
  <a id="showallpapers">(show all)</a>
  {% endif %}
</div> <!-- .paperlist -->
<br>
{% endif %}

{% if p.press_set.all|length > 0 %}
<h4>Most recent press: </h4>
<div class="presslist container">
{% for press in p.press_set.all %}
  {% if forloop.counter0 < 10 %}
  <div class="press-small mix">
  {% else %}            
  <div class="press-small mix hidden">
  {% endif %}  
    <div class="press-small-inner">
      <div class="img"><img src="{{ press.image.url }}" class="pressimage"/></div>
      <div class="title" ><a href="{{ press.url }}" target="_blank">{{ press.title }}</a></div>
      <div class="press">{{ press.organization }}</div>
      <div class="press">{{ press.date|date:"Y-m-d" }}</div>
    </div> <!-- .press-small-inner -->
  </div> <!-- .press-small -->
  {% endfor %}
  </div> <!-- .presslist -->            
  <!-- <a id="showallpress">(show all)</a> -->
   {% if p.press_set.all|length > 10 %}
    <a id="showallpress">(show all)</a>
    {% endif %}
    {% endif %}

<!-- {% if project_list|length > 0 %} -->
<!-- <h3>Active projects: </h3> -->
<!-- <div class="row"> -->
<!-- {% for project in project_list %} -->
<!--   <div class="col-xs-4"> -->
<!--     <div class="padded-inner paper"> -->
<!--       <p>{{ project.title }}</p> -->
<!--     </div> -->
<!--   </div> <\!-- col -\-> -->
<!-- {% endfor %} -->
<!-- </div> <\!-- row -\-> -->
<!-- <a id="showallprojects">(show all)</a> -->
<!-- {% endif %} -->

<!-- {% if teaching_list|length > 0 %} -->
<!-- <h3>Courses taught:</h3> -->
<!-- <ul> -->
<!-- {% for course in teaching_list %} -->
<!-- <li>{{ course.title }}</li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
<!-- {% endif %} -->

<!-- {% if class_list|length > 0 %} -->
<!-- <h3>Courses taken: </h3> -->
<!-- <ul> -->
<!-- {% for class in class_list %} -->
<!-- <li>{{ class.title }}</li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
<!-- {% endif %} -->

<!-- {% if funding_list|length > 0 %} -->
<!-- <h3>Current funding: </h3> -->
<!-- <ul> -->
<!-- {% for grant in funding_list %} -->
<!-- <li>{{ grant.title }}</li> -->
<!-- {% endfor %} -->
<!-- </ul> -->
<!-- {% endif %} -->

{% endif %}

{% comment %}        
<script>
    var getMonthName = function(date) {
        return month_names[date.getMonth()];
    };

    var getMonthNameShort = function(date) {
        return month_names_short[date.getMonth()];
    };

    var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    Date.prototype.getMonthName = function(lang) {
        lang = lang && (lang in Date.locale) ? lang : 'en';
        return Date.locale[lang].month_names[this.getMonth()];
    };

    Date.prototype.getMonthNameShort = function(lang) {
        lang = lang && (lang in Date.locale) ? lang : 'en';
        return Date.locale[lang].month_names_short[this.getMonth()];
    };

    Date.locale = {
        en: {
            month_names: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            month_names_short: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        }
    };
	    
    // parse the URL
    // I know what it looks like, so just do it
    var url_pairs = window.location.search.slice(1,window.location.search.length).split('&');
    var uname = url_pairs[0].split("=")[1];
    // make a xmlhttp... request
    // $.getJSON( "http://cmplxsys.w3.uvm.edu/db/api/v1/person/?format=json&uname="+uname, process_response)
    var process_response = function(data) {
	//pull out the first result
	result = data.objects[0];

        for (var i=0; i<result.press_all.length; i++) {
            var my_date = new Date(result.press_all[i].date);
            result.press_all[i].formatted_date = my_date.getMonthName() + " " + my_date.getDate() + ", " + my_date.getFullYear();
        }

        for (var i=0; i<result.papers.length; i++) {
            var my_date = new Date(result.papers[i].sort_date);
            result.papers[i].formatted_date = my_date.getMonthName() + " " + my_date.getDate() + ", " + my_date.getFullYear();
            result.papers[i].updated_year = my_date.getFullYear();
            result.papers[i].year = parseInt(result.papers[i].year);
            result.papers[i].author_list = "";
            for (var j=0; j<result.papers[i].author.length; j++) {
                result.papers[i].author_list = result.papers[i].author_list+result.papers[i].author[j].fullname;
                if (j<result.papers[i].author.length-1) {
                    result.papers[i].author_list = result.papers[i].author_list+", ";
                }
            }
        }
        
	template.render(result, function(err, data) {
	    // in this case, we want to be noisy if we fail.
	    if(err) throw err;

	    // note that `data` will just be a plain string.
	    // it's handy to wrap it with jQuery on the way out.
	    var $html = $(data);
	    $('#template').append($html);
	    



</script>                                                                                                                
                                                        {% endcomment %}
<script>

            // could try to use this to show the edit button...
$(document).ready(function() {
if (typeof $.cookie('token') === 'undefined'){
 // alert("cookie");
} else {
 // have cookie
            }
              	    $('#showallpapers').click(function() {
		    $(".paper-small.extra").toggleClass("hidden");
		    if ($(this).text() === "(hide extras)") {
			$(this).text("(show all)");
		    }
		    else {
			$(this).text("(hide extras)");
		    }
	    });
            $('.expandpaperbutton').click(function() {
		// $(this).text("(hide extras)");
                console.log($(this).parents(".paper-small"));
                console.log($(this).closest(".paper-small"));
                console.log($(this).parents(".paper-small").children(".paper-small-extra"));
                console.log($(this).parents(".paper-small").find(".paper-small-extra"));
                $(this).parents(".paper-small").find(".paper-small-extra").toggleClass("hidden");
                // $(this).parents(".paper-small").find(".paper-small-extra").toggle(400);
                // $(this).parents(".paper-small-extra").toggleClass("hidden");
                // $(this).closest(".paper-small-extra").toggleClass("hidden");
                // $(this).text("");
	    });
});
</script>                                                                                                                            
